* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #A294F9;
    border-radius: 10px;
}

/* ======================== HEADER ======================== */
header {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background: linear-gradient(-90deg, #a1c4fda4 0%, #c2e9fb9d 100%);
}

/* ======================== NAVIGATION BAR (TOP-RIGHT CORNER) ======================== */
nav {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav li {
    list-style-type: none;
    box-sizing: border-box;
    margin-right: 30px;
}

@media screen and (max-width : 499px) {
    nav li {
        padding: 3px;
        margin: 0;
    }
}

nav li a {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    box-sizing: border-box;

}

@media screen and ((max-width : 499px) or (max-height: 600px)) {
    nav li a {
        font-size: 1rem;
        padding: 3px;
    }
}

nav a.active {
    color: rgb(106 101 255);
}

nav a.nonActive {
    color: rgb(89, 82, 119);
}

nav a.nonActive:hover {
    color: black;
}

/* ======================== COMPANY LOGO (TOP-LEFT CORNER) ======================== */

#homepage .companyName {
    display: flex;
    align-items: center;
}

#homepage .companyName img {
    height: 48px;
    width: 48px;
    cursor: pointer;
}

@media screen and (max-width : 499px) {
    #homepage .companyName img {
        height: 32px;
        width: 32px;
    }
    
}

#homepage .companyName p {
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 10px;
}

@media screen and (max-width : 499px) {
    #homepage .companyName p {
        font-size: 14px;
        margin-left: 5px;
    }
}

/* ======================== FOOTER ======================== */

footer {
    background-color: rgb(7 1 39);
    padding: 50px;
}

@media screen and (max-width : 499px) {
    footer {
        padding: 10px;
    }
}

#homepage footer .companyName p {
    color: white;
}

#homepage footer .companyName img {
    cursor: default;
}

footer #footerInfo {
    color: gray;
    display: flex;
    justify-content: space-between;
}

#footerMessage {
    max-width: 500px;
}

@media screen and (max-width : 499px) {
    #footerMessage {
        font-size: 14px;
    }
    
    #contact {
        font-size: 14px;
    }
}
