#loginPage {
    background: linear-gradient(-90deg, #a1c4fda4 0%, #c2e9fb9d 100%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 100px 0;
}


@media screen and (max-width : 499px) {
    #loginPage {
        display: flex;
        flex-direction: column;
        padding: 50px 0;
    }
}
/* ======================== Login Introduction ======================== */
#loginIntro {
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width : 499px) {
    #loginIntro {
        margin-bottom: 20px;
    }
}

@media screen and (max-width : 499px) {
    #loginIntroContext {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

#loginIntro h2 {
    font-size: 35px;
    width: 300px;
    color: rgb(14 0 74);
}

@media screen and (max-width : 499px) {
    #loginIntro h2 {
        text-align: center;
    }
}

@media screen and (max-width : 850px) {
    #loginIntro h2 {
        font-size: 25px;
    }
}

#loginIntro p {
    font-size: 18px;
    width: 250px; 
    margin-top: 20px;
    color: rgb(69 56 120);
}

@media screen and (max-width : 850px) {
    #loginIntro p {
        font-size: 14px;
    } 
}

@media screen and (max-width : 499px) {
    #loginIntro img {
        width: 128px;
        height: 128px;
    }
}

/* ======================== LOGIN MAIN ======================== */

#loginMain {
    grid-column: 2 / 3;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    align-items: center;
}

#loginMainContext {
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    height: 600px;
    width: 450px;
    align-items: center;
    border-radius: 10px;
}

@media screen and (max-width : 850px) {
    #loginMainContext {
        height: 425px;
        width: 300px;
    }
}

#loginContextHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

@media screen and (max-width : 850px) {
    #loginContextHeader {
        margin-bottom: 30px;
    }
}

#loginLogo {
    width: 32px;
    height: 32px;
}

#loginContextHeader h2 {
    margin: 0 auto;
    font-weight: 500;
    font-size: 30px;
}

@media screen and (max-width : 850px) {
    #loginContextHeader h2 {
        font-size: 20px;
    }
}

#loginContextHeader p {
    color: #888;
}

@media screen and (max-width : 850px) {
    #loginContextHeader p {
        font-size: 14px;
    }
}

/* ======================== LOGIN INPUT ======================== */

.loginInput {
    margin: 0 auto;
    margin-top: 5px;
}

@media screen and (max-width : 850px) {
    .loginInput {
        width: 275px;
    }
}

.loginInput input{
    font-size: 16px;
    background: #F8F8F8;
    width: 360px;
    padding: 12px;
    margin: 8px 0;
    border: 0;
    border-bottom: 3px solid #efefef;
}

@media screen and (max-width : 850px) {    
    .loginInput input{
        font-size: 14px;
        padding: 10px;
        width: 275px;
    }
}

.loginInput input:focus {
    outline: 0;
    border-bottom: 3px solid black;
}


/* ======================== LOGIN SUBMIT ======================== */

#loginSubmit {
    display: none;
}

#labelLoginSubmit {
    display: block;
    background-color: rgb(106 101 255);
    border: 0;
    width: max-content;
    padding: 10px 50px;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    position: relative;
}

@media screen and (max-width : 850px) {
    #labelLoginSubmit {
        padding: 10px 30px;
    }
}

#labelLoginSubmit span {
    font-size: 16px;
    font-weight: bold;
    color: white;
    position: relative;
    z-index: 2;
}

@media screen and (max-width : 850px) {
    #labelLoginSubmit span {
        font-size: 14px;
    }
}


#labelLoginSubmit::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: black;
    transition-duration: 0.5s;
    border-radius: 5px 0 0 5px;
}

#labelLoginSubmit::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 0;
    background-color: black;
    transition-duration: 0.5s;
    border-radius: 0 5px 5px 0;
}

#labelLoginSubmit:hover::after, #labelLoginSubmit:hover::before {
    width: 50%;
}

#labelLoginSubmit:hover span {
    color: white;
}

/* ======================== FORGET PASSWORD ======================== */
#forgetPassword {
    text-align: right;
    width: 360px;
    box-sizing: border-box;
    margin: 0 auto;
}

@media screen and (max-width : 850px) {
    #forgetPassword {
        width: 275px;
    }
}

#forgetPassword a, #forgetPassword a:visited {
    color: rgb(106 101 255);
    font-size: 16px;
    text-decoration: none;
}

@media screen and (max-width : 850px) {
    #forgetPassword a {
        font-size: 14px;
    }
}

#loginFormFooter a:hover {
    color: black
}

#message {
    width: 360px;
    margin: 0 auto;
    font-weight: 400;
}

@media screen and (max-width : 850px) {
    #message {
        width: 275px;
        font-size: 14px;
        margin: 0 auto;
    }
}

/* ======================== SIGN UP ======================== */

#loginContextFooter {
    margin-top: 50px;
}


@media screen and (max-width : 850px) {
    #loginContextFooter {
        margin-top: 20px;
        font-size: 14px;
    }    
}

#loginContextFooter a, #loginContextFooter a:visited {
    color: rgb(106 101 255);
    text-decoration: none;
    font-weight: 500;
}

@media screen and (max-width : 850px) {
    #loginContextFooter a {
        font-size: 14px;
    }
}

#loginContextFooter a:hover {
    color: black;
}