.loginInput {
  margin: 0 auto;
  margin-top: 5px;
}

@media screen and (max-width : 850px) {
  .loginInput {
      width: 275px;
  }
}

.loginInput input{
  font-size: 16px;
  background: #F8F8F8;
  width: 360px;
  padding: 12px;
  margin: 8px 0;
  border: 0;
  border-bottom: 3px solid #efefef;
}

@media screen and (max-width : 850px) {    
  .loginInput input{
      font-size: 14px;
      padding: 10px;
      width: 275px;
  }
}

.loginInput input:focus {
  outline: 0;
  border-bottom: 3px solid black;
}