#signUp {
    background: linear-gradient(-90deg, #a1c4fda4 0%, #c2e9fb9d 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 50px 0px;
}

@media screen and (max-width : 499px) {
    #signUp {
        padding: 50px 0px;
    }
}

/* ======================== Sign Up Introduction ======================== */
#signUpIntro h2 {
    font-size: 35px;
    color: rgb(14 0 74);
    text-align: center;
    margin: 0 auto;
}

@media screen and (max-width : 850px) {
    #signUpIntro h2 {
        font-size: 25px;
    }
}

#signUpIntro p {
    font-size: 18px;
    color: rgb(69 56 120);
    text-align: center;
    width: 600px;
    margin: 0 auto;
}

@media screen and (max-width : 850px) {
    #signUpIntro p {
        font-size: 14px;
        width: 300px;
    }
}

/* ======================== SIGN UP MAIN ======================== */

#signUpMain {
    background-color: #F8F8F8;;
    width: 450px;
    height: 650px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

@media screen and (max-width : 850px) {
    #signUpMain {
        width: 300px;
        height: 475px;
    }
}

/* ======================== SIGN UP HEADER ======================== */

#signUpContextHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

@media screen and (max-width : 850px) {
    #signUpContextHeader {
        margin-bottom: 30px;
    }    
}

#signUpContextHeader h2 {
    width: max-content;
    margin: 0 auto;
    font-weight: 500;
    font-size: 30px;
}

@media screen and (max-width : 850px) {
    #signUpContextHeader h2 {
        font-size: 20px;
    }
}

#signUpContextHeader img {
    width: 48px;
    height: 48px;
}

@media screen and (max-width : 850px) {
    #signUpContextHeader img {
        width: 32px;
        height: 32px;
    }
}

#signUpContextHeader p {
    color: #888;
}

@media screen and (max-width : 850px) {
    #signUpContextHeader p {
        font-size: 14px;
    }
}

#signUpContextHeader a, #signUpContextHeader a:visited {
    color: rgb(106 101 255);
    text-decoration: none;
    font-weight: 500;
}

@media screen and (max-width : 850px) {
    #signUpContextHeader a, #signUpContextHeader a:visited {
        font-size: 14px;
    }
}


#signUpContextHeader a:hover {
    color: #000;
}

/* ======================== SIGN UP INPUT ======================== */

.signUpInput {
    width: 360px;
    margin: 0 auto;
    margin-bottom: 30px;
}

@media screen and (max-width : 850px) {
    .signUpInput {
        width: 275px;
        margin-bottom: 20px;
    }
}

.signUpInput input {
    font-size: 16px;
    background: #F8F8F8;;
    padding: 12px;
    width: 360px;
    border: 2px solid #cccccc;
    border-radius: 5px;
    outline: 0;
}

@media screen and (max-width : 850px) {
    .signUpInput input {
        font-size: 14px;
        padding: 12px;
        width: 275px;
    }
}

.signUpInput input:focus {
    border: 2px solid orange;
}

/* ======================== SIGN UP SUBMIT ======================== */
#signUpSubmit {
    display: none;
}

#signUpSubmitLabel {
    display: block;
    background-color: rgb(106 101 255);
    width: max-content;
    padding: 10px 50px;
    margin: 0 auto;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid rgb(106 101 255);
    border-radius: 5px;
    margin-top: 50px;
    cursor: pointer;
    box-shadow: 5px 5px #A294F9;
    transition-duration: 0.5s;
}

@media screen and (max-width : 850px) {
    #signUpSubmitLabel {
        padding: 10px 30px;
        font-size: 14px;
        margin-top: 30px;
    }
}

#signUpSubmitLabel:hover, #signUpSubmitLabel:active {
    transform: translate(5px, 5px);
    box-shadow: -5px -5px white;
}

#signUp #message {
    width: 360px;
    margin: 0 auto;
    font-weight: 400;
    margin-top: 5px;
}

@media screen and (max-width : 850px) {
    #signUp #message {
        width: 275px;
        font-size: 14px;
    }
}

/* ======================== SIGN UP DIALOG ======================== */

#signUpDialogMain {
    position: absolute;
    width: 400px;
    height: 300px;
    background-color: white;
    transition-duration: 0.5s;
    left: 50%;
    transform: translate(-50%, 50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

@media screen and (max-width : 850px) {
    #signUpDialogMain {
        width: 300px;
        height: 200px;
    }
}

.visibleSignUpDialog {
    bottom: 50%; 
}

.notVisibleSignUpDialog {
    bottom: 30%;
}

#signUpDialogMain #button {
    display: flex;
    align-self: flex-end;
}

#signUpDialogMain #button button{
    padding: 5px;
    cursor: pointer;
    margin-right: 10px;
}

@media screen and (max-width : 850px) {
    #signUpDialogMain p {
        font-size: 14px;
    }
}