.rootContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 175px;
}

@media screen and (max-width : 499px) {
    .rootContainer{
        height: 150px;
    }
}

.promptContainer {
    text-align: center;
    font-weight: 500;
    margin: 10px;
}

.notice {
    font-style: italic;
    font-weight: 300;
}

@media screen and (max-width : 499px) {
    .promptContainer p {
        font-size: 12px;
    }
}

.buttonsContainer {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.buttonContainer {
    width: max-content;
    padding: 10px;
    border-radius: 10px;
    border: transparent;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
    position: relative;
}

@media screen and (max-width : 499px) {
    .buttonContainer{
        display: block;
        width: max-content;
        padding: 10px;
        font-size: 12px;
        margin-left: 0;
    }
}

.buttonContainer::before {
    content: "";
    z-index: 1;
    position: absolute;
    transition-duration: 500ms;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    border-radius: 10px;
}

.buttonContainer span {
    position: relative;
    z-index: 5;
}

.submitButton:hover::before {
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #f44336;
}

.submitButton:hover span {
    color: #fff;
}

.submitButton:active::before {
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #f44336;
}

.submitButton:active span {
    color: #fff;
}

.cancelButton:hover::before {
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #fff;
}

.cancelButton:hover span {
    color: #000;
}

.cancelButton:active::before {
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #fff;
}

.cancelButton:active span {
    color: #000;
}