.rootContainer {
  list-style-type: none;
  background-color: #fff;
  width: 100%;
  margin: 0 auto;
  transition-duration: 0.3s;
  position: relative;
  z-index: 5;
  display: grid;
  grid-template-columns: 50px 1fr 125px 150px;
  padding: 10px 0;
  border-bottom: 1px solid #efefef;
}

@media screen and (max-width: 499px) {
  .rootContainer {
    grid-template-columns: 30px 1fr 50px 70px;
  }
}

.fulfilledContainer {
  display: flex;
  flex-direction: row;
  grid-column: 1 / 2;
  margin-left: 25px;
  align-items: center;
}

@media screen and (max-width: 499px) {
  .fulfilledContainer {
    position: relative;
    margin-left: 10px;
    top: 1px;
  }

  .fulfilledContainer label {
    width: 15px;
    height: 15px;
  }
}

.taskNameContainer {
  overflow-x: auto;
  grid-column: 2 / 3;
  display: flex;
  align-items: center;
}

.taskStatusContainer {
  grid-column: 3 / 4;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  border: 1px solid black;
  height: 20px;
}

.taskStatusContainer p {
  color: #fff;
  font-size: 14px;
}

@media screen and (max-width: 499px) {
  .taskStatusContainer p {
    font-size: 10px;
  }
}

.pending_task {
  background-color: #ff8c00;
}

.fulfilled_task {
  background-color: #50c878;
}

.failing_task {
  background-color: #ff748b;
}

.homepageTaskName h4 {
  font-weight: 400;
}

@media screen and (max-width: 499px) {
  .homepageTaskName h4 {
    font-size: 12px;
  }
}

.taskFunctionContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column: 4 / 5;
}

.taskFunctionContainer img {
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin-left: 20px;
}

@media screen and (max-width: 499px) {
  .taskFunctionContainer img {
    height: 15px;
    width: 15px;
    margin-left: 5px;
  }
}

.taskInfoContainer {
  display: grid;
  flex-direction: column;
  justify-content: space-between;
  grid-column: 1 / 5;
  transition: grid-template-rows 1000ms;
}

.backgroundTaskDelete {
  background-color: antiquewhite;
}

.backgroundTaskNonDelete {
  background-color: #fff0e5;
  background-color: white;
}

#userHomepage .taskInfoHidden,
#userHomepage .taskInfoHidden * {
  height: 0px;
  opacity: 0;
  visibility: hidden;
  width: 0px;
  overflow: hidden;
}

.taskInfoVisible {
  border-radius: 10px;
  height: 175px;
  opacity: 1;
  visibility: visible;
  overflow-x: auto;
  overflow-y: hidden;
}

.taskInfoVisible::-webkit-scrollbar {
  height: 5px;
}

.taskInfoVisible::-webkit-scrollbar-track {
  background-color: #000;
}

.taskInfoVisible::-webkit-scrollbar-thumb {
  background-color: grey;
}

.taskInfoDescription {
  margin-left: 10px;
}

.taskFinishInfoButton {
  justify-content: flex-end;
}
.taskInfoButton div {
  box-shadow: 5px 5px black;
  border-radius: 5px;
  padding: 5px;
  position: relative;
  cursor: pointer;
  transition-duration: 500ms;
  height: max-content;
}

.taskInfoButton figure {
  display: flex;
  align-items: center;
}

.taskInfoButton div:hover {
  margin-top: 5px;
  margin-left: 5px;
  box-shadow: 0px 0px white;
}

.taskInfoButton div:active {
  margin-top: 5px;
  margin-left: 5px;
  box-shadow: 0px 0px white;
}

.taskInfoButton figure img {
  height: 16px;
  width: 16px;
}

.taskInfoButton figure figcaption {
  font-size: 16px;
  font-weight: 500;
  color: white;
}

.taskInfoEdit {
  background-color: #008fff;
}

.taskInfoDelete {
  background-color: #f86363;
}

.taskInfoClose {
  background-color: #000;
}

.taskFinishInfoButton .taskInfoClose {
  margin-right: 10px;
}
