.rootContainer {
  display: grid;
  grid-template-columns: 50px 1fr 150px;
  background-color: #5A4FCF;
  transition-duration: 0.5s;
  height: 50px;
  align-items: center;
}

@media screen and (max-width: 499px) {
  .rootContainer {
      grid-template-columns: 40px 1fr 115px;
  }
}

.title {
  color: white;
  transition-duration: 0.5s;
  font-size: 25px;
  font-weight: 400;
  width: max-content;
  grid-column: 2 / 3;
}

@media screen and (max-width: 499px) {
  .title{
      font-size: 20px;
  }
}

.buttonsContainer {
  background-color: #fff;
  border-radius: 25px;
  padding: 5px 10px;
  grid-column: 3 / 4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: max-content;
  margin-right: 5px;
}

.buttonContainer {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
}

@media screen and (max-width: 499px) {
  .buttonContainer img {
      width: 15px;
      height: 15px;
      margin-right: 5px;
      cursor: pointer;
  }
  
}