.rootContainer {
  background-color: rgba(0, 0, 0, 0);
  width: max-content;
  height: max-content;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.contentContainer {
  background-color: #ff8fa3;
  padding: 10px 30px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  z-index: 999;
  position: relative;
}

.title {
  font-size: 16px;
  margin-left: 10px;
  color: #a4133c;
  font-weight: 500;
}

.hiddenModal {
  top: -20%;
}

.visibleModal {
  top: 5%;
  transition-duration: 0.5s;
}
