#calendarPage {
    display: grid;
    grid-template-columns: 500px 500px;
    justify-content: center;
    margin-top: 20px;
}

@media screen and (max-width: 499px) {
    #calendarPage {
        display: flex;
        flex-direction: column-reverse;
    }
}

#dateDisplayTask {
    grid-column: 1 / 2;
    background-color: #7364d2;
    overflow-y: scroll;    
    height: 600px;
}

@media screen and (max-width: 499px) {
    #dateDisplayTask {   
        height: 600px;
    }
}

#calendarTaskDate {
    text-align: center;
    color: #fff;
    padding: 10px;
    font-weight: 300;
    font-size: 32px;
}

#dateDisplayTask ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dateDisplayTask li{
    list-style: none;
}

#calendarMain {
    background-color: #fff;
    grid-column: 2 / 3;
    height: 600px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 499px) {
    #calendarMain {
        height: 450px;
    }
}

#calendarHeader {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
    margin-bottom: 20px;
}

@media screen and (max-width: 499px) {
    #calendarHeader {
        margin-bottom: 0px;
    }
}

#calendarFunction {
    display: flex;
    align-items: center;
}

.calendarButton {
    cursor: pointer;
    text-align: center;
}

@media screen and (max-width : 499px) {
    #calendarHeader p{
        font-size: 15px;
    }
}

#calendarMonth {
    font-size: 25px;
    font-weight: 500;
}

#calendar {
    width: 500px;
    margin: 0 auto;
    margin-top: 10px;
    table-layout: fixed;
    border-spacing: 20px;
}

@media screen and (max-width : 499px) {
    #calendar {
        width: 300px;
    }
}

.dateOfMonth {
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    height: 50px;
    overflow: auto;
    border-radius: 10px;
    border: 1px solid transparent;
}

@media screen and (max-width : 499px) {
    .dateOfMonth {
        height: 30px;
    }
}

.dateExist {
    cursor: pointer;

}
.dateExist:hover {
    border-color: #000;
}
.taskExist {
    background-color: #c8b6ff;
}

#dateOfWeek {
    text-align: center;
}

#dateOfWeek td{
    font-weight: 500;
    font-size: 18px;
    color: black;
}

@media screen and (max-width : 499px) {
    #dateOfWeek td{
        font-size: 14px;
    }
}

.dateOfMonthListTask h4 {
    font-weight: 500;
    font-size: 20px;
    color: #000;
    text-align: center;
}

.calendarTask {
    margin-left: 10px;
}

@media screen and (max-width : 499px) {
    .calendarTask {
        font-size: 12px;
    }
}

.todayCalendar h4{
    font-size: 25px;
    color: var(--commomRedColor);
    font-weight: 700;
}

@media screen and (max-width : 499px) {
    .dateOfMonthListTask h4 {
        font-size: 12px;
    }
    .todayCalendar h4{
        font-size: 15px;
    }
}

#calendarPage .calendarFulfilled {
    color: #7cc73e;
    text-decoration: line-through;
}

#calendarPage .calendarFailing {
    text-decoration: line-through;
    color: #f98053;
}