.createTaskForm {
    background-color: #FFF;
    padding-top: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: 5px;
}

@media screen and (max-width : 499px) {
    .createTaskForm {
        width: 100%;
    }
}

.createTaskForm .openCreateTask {
    width: 100%;
    cursor: pointer;
    margin-top: -10px;
    position: relative;
}


.createTaskForm .openCreateTask::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    z-index: 2;
    transition-duration: 0.2s;
}

.createTaskForm .openCreateTask:hover::before, .createTaskForm .openCreateTask:active::before {
    width: 100%;
    background-image: linear-gradient(to left, #ff5895, #ff529e, #ff4da8, #ff48b3, #ff45be, #f944c8, #f145d2, #e847dc, #d64ce6, #c152ef, #a857f8, #8b5dff);
}

.createTaskForm .openCreateTask p{
    border: 0;
    color: #000;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    position: relative;
    z-index: 3;
}

.createTaskForm .openCreateTask:hover p, .createTaskForm .openCreateTask:active p{
    color: #fff;
    font-weight: 700;
}

@media screen and (max-width : 499px) {
    .createTaskForm .openCreateTask p{
        font-size: 14px;
        margin-left: 5px;
    }
}

.createTaskFormMain fieldset {
    border: 0;
    background-color: #fff;
    padding-bottom: 20px;
}

.createTaskFormMain legend {
    margin-left: 20px;
    font-weight: 500;
    font-size: 18px;
}
.createTaskForm .createTaskInput {
    font-size: 16px;
    margin-left: 10px;
    margin-top: 5px;
}

@media screen and (max-width : 499px) {
    .createTaskForm .createTaskInput {
        font-size: 12px;
        margin-left: 5px;
    }
}

.createTaskForm .createTaskInput label, .createTaskForm .createTaskInput span {
    font-weight: 500;
}

.createTaskForm .createTaskInput input {
    background-color: #e8e7e7;
    border: 2px #e8e7e7 solid;
    font-size: 16px;
    outline: 0;
    border-radius: 5px;
}

.createTaskForm .createTaskInput input:focus {
    background-color: #fff;
    border: 2px orange solid;
}


@media screen and (max-width : 499px) {
    .createTaskForm .createTaskInput input {
        background-color: #e8e7e7;
        border: 1px #e8e7e7 solid;
        font-size: 12px;
    }    
}


.createTaskForm .createTaskFunction {
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
}

.createTaskFunction input {
    display: none;
}

.createTaskForm .createTaskButton {
    font-size: 14px;
    margin-top: 10px;
    background-color: black;
    font-weight: bold;
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: 0;
    position: relative;
}

.createTaskButton span {
    position: relative;
    z-index: 3;
} 

@media screen and (max-width : 499px) {
    .createTaskForm .createTaskButton {
        font-size: 12px;
        margin-top: 5px;
    }
}

.createTaskForm .createTaskButton::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    transition-duration: 0.5s;
    border-radius: 5px;
}

.createTaskCancelButton label:hover::before {
    width: 100%;
    background-color: white;
} 

.createTaskCancelButton label:hover span {
    color: black;
} 

.createTaskSubmitButton {
    margin-right: 20px;
}

.createTaskSubmitButton label:hover::before {
    width: 100%;
    background-color: #118B50;
    color: white;
} 

.createTaskSubmitButton label:hover span {
    color: white;
} 
