#dashboard {
    display: grid;
    grid-template-columns: 1fr 500px;
    grid-template-rows: 450px 800px;
    margin: 20px 0 0 20px;
    column-gap: 20px;
    row-gap: 20px;
}

@media screen and (max-width: 499px) {
    #dashboard {
        display: block;
        margin: 20px 0 0 0;
    }
}

@media screen and (max-width: 850px) and (min-width: 500px) {
    #dashboard {
        display: grid;
        grid-template-columns: 1fr 350px;
        grid-template-rows: 400px 600px;
        margin: 20px 0 0 20px;
        column-gap: 20px;
        row-gap: 20px;
    }
}


#todayTask {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    min-height: 300px;
    max-height: 500px;
}

#upcommingTask {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    min-height: 300px;
    max-height: 500px;
}

#todayTask h2, #upcommingTask h2 {
    font-size: 20px;
    font-weight: 500;
}

@media screen and (max-width: 499px) {
    #todayTask h2, #upcommingTask h2 {
        font-size: 16px;
    }
}


#statistic {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 100px);
    row-gap: 20px;
    column-gap: 20px;
}

@media screen and (max-width: 499px) {
    #statistic {
        display: grid;
        grid-template-columns: repeat(6, 40px);
        grid-template-rows: repeat(3, 70px);
        row-gap: 10px;
        column-gap: 10px;
        justify-content: center;
    }
}

@media screen and (max-width: 850px) {
    #statistic {
        display: grid;
        grid-template-columns: repeat(6, 40px);
        grid-template-rows: repeat(3, 70px);
        row-gap: 10px;
        column-gap: 10px;
        justify-content: center;
    }
}


#totalNumTask {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 850px) {
    #totalNumTask {
        grid-column: 1 / 7;
        grid-row: 1 / 2;
    }
}

#totalNumTask h3 {
    font-size: 25px;
    font-weight: 500;
}

#totalNumTask p {
    font-size: 25px;
    font-weight: 500;
    margin-left: 5px;
}

@media screen and (max-width: 850px) {
    #totalNumTask h3 {
        font-size: 16px;
    }
    
    #totalNumTask p {
        font-size: 16px;
    }
}

#numFinishedTask, #numUnfinishedTask {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
}


#numFinishedTask p, #numUnfinishedTask p {
    font-size: 20px;
}

@media screen and (max-width: 850px) {
    #numFinishedTask, #numUnfinishedTask {
        padding: 10px;
    }

    #numFinishedTask h3, #numUnfinishedTask h3 {
        font-size: 12px;
    }

    #numFinishedTask p, #numUnfinishedTask p {
        font-size: 12px;
    }
}

#numUnfinishedTask {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

@media screen and (max-width: 850px) {
    #numUnfinishedTask {
        grid-column:  1 / 4;
        grid-row: 2 / 3;
    }
}

#numFinishedTask {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

@media screen and (max-width: 850px) {
    #numFinishedTask {
        grid-column: 4 / 7;
        grid-row: 2 / 3;
    }
}


#numPendingTask, #numFulfilledTask, #numFailingTask {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
}

#numPendingTask p, #numFulfilledTask p, #numFailingTask p {
    font-size: 20px;
}

@media screen and (max-width: 850px) {
    #numPendingTask, #numFulfilledTask, #numFailingTask {
        padding: 10px;
        border-radius: 20px;
    }

    #numPendingTask h3, #numFulfilledTask h3, #numFailingTask h3 {
        font-size: 12px;
    }

    #numPendingTask p, #numFulfilledTask p, #numFailingTask p {
        font-size: 12px;
    }
}

#numPendingTask {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

@media screen and (max-width: 850px) {
    #numPendingTask {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
    }
}

#numFulfilledTask {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

@media screen and (max-width: 850px) {
    #numFulfilledTask {
        grid-column: 3 / 5;
        grid-row: 3 / 4;
    }
}


#numFailingTask {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

@media screen and (max-width: 850px) {
    #numFailingTask {
        grid-column: 5 / 7;
        grid-row: 3 / 4;
    }
}


#chart {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 499px) {
    #chart {
        margin-top: 20px;
    }
}

#pieChart {
    width: 360px;
    height: 360px;
    border-radius: 20px;
    padding: 20px;
    background-color: #fff  ;
    margin-top: 20px;
}

@media screen and (max-width: 850px) {
    #pieChart {
        width: 300px;
        height: 300px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 850px) {
    #pieChart {
        margin-bottom: 20px;
    }
}

#barChart {
    width: 400px;
    border-radius: 20px;
    padding: 20px;
    background-color: #fff;
}

@media screen and (max-width: 499px) {
    #barChart {
        width: 300px;
    }
}

@media screen and (max-width: 850px) and (min-width: 500px){
    #barChart {
        width: 350px;
    }
}

#numPendingTask, #numFulfilledTask, #numFailingTask, #pieChart, #barChart, #numFinishedTask, #numUnfinishedTask, #totalNumTask {
    border: 2px solid transparent;
}

#numPendingTask:hover, #numFulfilledTask:hover, #numFailingTask:hover, #pieChart:hover, #barChart:hover, #numFinishedTask:hover, #numUnfinishedTask:hover, #totalNumTask:hover {
    border: 2px solid black;
}

#dashboard li {
    list-style: none;
}

#todayTask ul, #upcommingTask ul{
    height: 400px;
    overflow: auto;
}