#userNavigationBarFooter {
    margin-top: 120px;
    border-top: 1px solid #efefef;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width : 850px) {
    #userNavigationBarFooter {
        margin-top: 20px;
    }
}

#userNavigationBarFooter #logOut {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 0;
    background: transparent;
    padding: 15px;
    border-radius: 20px;
    margin-top: 10px;
}

@media screen and (max-width : 850px) {
    #userNavigationBarFooter #logOut {
        padding: 10px;
        margin-top: 0px;
    }
}


#userNavigationBarFooter #logOut:hover {
    background-color: #000;
}