#userProfilePassword {
    width: 100%;
}

#userProfilePasswordForm {
    width: 100%;
}

#userProfilePasswordForm fieldset {
    border-radius: 0;
    border: 0;
    border-top: 1px solid gray;
}

#userProfilePasswordForm legend {
    margin-left: 20px;
    font-size: 20px;
    font-weight: 500;
}

@media screen and (max-width : 499px) {
    #userProfilePasswordForm legend {
        font-size: 16px;
    }
}

.userProfileInput {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

.userProfileInput label{
    margin-top: 15px;
    font-weight: 300;
}

.userProfileInput input {
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    align-self: center;
}

@media screen and (max-width : 499px) {
    .userProfileInput label{
        margin-top: 5px;
    }
    
    .userProfileInput label, .userProfileInput input {
        font-size: 12px;
    }
}

.userProfileInput input:focus {
    background-color: #e8e7e7; 
}

#userProfileButton {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    align-items: center;
}

@media screen and (max-width : 499px) {
    #userProfileButton {
        margin: 10px auto;
    }
}

#eyeImg {
    height: 32px;
    width: 32px;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 5px;
}

#userProfileButton input {
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
}

@media screen and (max-width : 499px) {
    #userProfileButton input {
        font-size: 14px;
    }
}


#userProfileButton input:hover {
    background-color: yellowgreen;
    color: black;
}