
#listProject {
    display: flex;
    flex-flow: column wrap;
}

.project {
    list-style: none;
    min-width: 800px;
    border-left: 5px solid #5A4FCF;
    margin-bottom: 20px;
    height: max-content;
    background-color: #FFF;
}

@media screen and (max-width: 499px) {
    .project {
        min-width: 300px;
    }
}

@media screen and (min-width: 499px) and (max-width : 850px) {
    .project {
        min-width: 500px;
    }
}

.projectHeader {
    display: grid;
    grid-template-columns: 50px 1fr 150px;
    background-color: #5A4FCF;
    transition-duration: 0.5s;
    height: 50px;
    align-items: center;
}

@media screen and (max-width: 499px) {
    .projectHeader {
        grid-template-columns: 40px 1fr 115px;
    }
}

.pieChartHomepage {
    width: 45px;
    position: relative;
    bottom: 5px;
    grid-column: 1 / 2;
}

@media screen and (max-width: 499px) {
    .pieChartHomepage {
        width: 35px;
    }
}

.projectHeader h3 {
    color: white;
    transition-duration: 0.5s;
    font-size: 25px;
    font-weight: 400;
    width: max-content;
    grid-column: 2 / 3;
}

@media screen and (max-width: 499px) {
    .projectHeader h3 {
        font-size: 20px;
    }
}

.projectFunctionButton {
    background-color: #fff;
    border-radius: 25px;
    padding: 5px 10px;
    grid-column: 3 / 4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: max-content;
    margin-right: 5px;
}

.projectFunctionButton img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
}

@media screen and (max-width: 499px) {
    .projectFunctionButton img {
        width: 15px;
        height: 15px;
        margin-right: 5px;
        cursor: pointer;
    }
    
}

.projectMain {
    transition-duration: 0.75s;
    transition-property: height;
    border-top: 0;
    height: 0px;
}

.projectDescription p {
    font-size: 16px;
    margin-bottom: 5px;
    margin-left: 10px;
}

@media screen and (max-width : 499px) {
    .projectDescription p {
        font-size: 14px;
    }
}

.hiddenProjectExpansion {
    height: 0px;
    visibility: hidden;
    opacity: 0;
}

.visibleProjectExpansion {
    border: 2px dashed gray;
    opacity: 1;
    height: 175px;
    visibility: visible;
}

@media screen and (max-width : 499px) {
    .visibleProjectExpansion {
        height: 150px;
    }
}

.listTaskHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-top: 2px solid black;
}

@media screen and (max-width : 499px) {
    .listTaskHeader {
        padding: 5px 0;
    }
}

.listTaskTitle {
    margin-left: 20px;
    font-weight: 500;
}

.listTaskHeader img{
    margin-right: 20px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.listTaskFunction {
    display: flex;
    align-items: center;
}

.listTaskFunction div {
    margin-right: 10px;
    background-color: #89CFF0;
    padding: 5px;
    border-radius: 50%;
    min-width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.numTask {
    font-size: 12px;
    font-weight: 500;
}

.finishedListTaskVisible {
    transition-duration: 500ms;
}

.finishedListTaskNonVisible {
    height: 0;
    width: 0;
    overflow: hidden;
    opacity: 0;
    visibility: 0;
    transition-duration: 500ms;
}

.taskListDisplay {
    display: grid; 
    transition: 0.5s grid-template-rows ease;
}

.hideTaskListDisplay {
    grid-template-rows: 0fr;
}

.visibleTaskListDisplay {
    grid-template-rows: 1fr;
}

.taskListDisplay > div {
    overflow: hidden;
}
