#sortTaskName, #sortTimeCreated, #sortTimeDeadline {
    display: flex;
}   

#sortTaskName div, #sortTimeCreated div, #sortTimeDeadline div{
    display: flex;
}   

@media screen and (min-width : 850px) {
    #sortTaskName, #sortTimeCreated, #sortTimeDeadline {
        flex-direction: column;
    }
}

#sortForm {
    margin-left: 10px;
    margin-top: 10px;
}

@media screen and (max-width : 499px) {
    #sortForm h4{
        font-size: 12px;
    }

    #sortForm h3{
        font-size: 16px;
    }  
}


#sortForm .statusBox {
    display: flex;
    align-items: center;
}


#sortForm label{
    font-size: 14px;
}

@media screen and (max-width : 499px) {
    #sortForm label{
        font-size: 12px;
    }
}

#sortForm input[type=checkbox] {
    height: 18px;
    width: 18px;
    margin-right: 2px;
    box-sizing: border-box;
    margin-left: 10px;
}


@media screen and (max-width : 499px) {
    #sortForm .statusBox input[type=checkbox]{   
        height: 15px;
        width: 15px;
    }
}

#sortForm input[type=checkbox]:checked {
    accent-color: rgba(244, 91, 105);
}

#clearSort {
    color: white;
    background-color: #8D0B41;
    box-shadow: 0px 5px #8D0B41;
    border: 0;
    padding: 5px;
    margin: 10px 0;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.2s;
    border: 0;
    cursor: pointer;
    display: block;
}

@media screen and (max-width : 499px) {
    #clearSort {
        font-size: 10px;
    }
}

#clearSort:hover, #clearSort:active {
    transform: translate(0, 5px);
    box-shadow: 0px 0px #8D0B41;
}