.editTaskForm {
    height: auto;
}


.editTaskFormMain {
    margin-left: 10px;
}

@media screen and (max-width : 499px) {
    .editTaskFormMain {
        margin-left: 5px;
    }
}

.editTaskFormMain label, .editTaskFormMain span{
    font-weight: 500;
    font-size: 14px;
}


.editTaskFormMain input {
    font-size: 14px;
    background-color: #ededed;
    border: 2px #ededed solid;
    width: 120px;
    outline: 0;
}

.editTaskFormMain input:focus {
    background-color: white;
    border: 2px solid orange;
}

@media screen and (max-width : 499px) {
    .editTaskFormMain input {
        font-size: 12px;
        width: 100px;
    }
}

.editTaskFormMain .notice {
    margin-top: 5px;
    font-weight: 300;
    font-size: 10px;
}

@media screen and (max-width : 499px) {
    .editTaskFormMain .notice {
        font-size: 10px;
        margin-top: 0;
    }
}


.editTaskButton {
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    height: 40px;
    align-items: center;
    padding-bottom: 10px;
}

.editTaskButton input {
    margin-right: 20px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    background-color: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.editTaskButton input {
    display: none;
}

.editTaskButton label {
    padding: 7px;
    font-size: 16px;
    font-weight: bold;
    background-color: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    border: 2px solid black;
}

.editTaskButton label::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    border-radius: 10px;
    transition-duration: 0.75s;
}

.editTaskButton label span {
    color: white;
    position: relative;
    z-index: 3;
}

.editTaskCancelButton label:hover {
    background-color: #000;
    border: 2px solid #000;
}

.editTaskCancelButton label:hover::before {
    width: 100%;
    background-color: white;
}

.editTaskCancelButton label:hover span {
    color: black;
}

.editTaskCancelButton label:active {
    background-color: #000;
    border: 2px solid #000;
}

.editTaskCancelButton label:active::before {
    width: 100%;
    background-color: white;
}

.editTaskCancelButton label:active span {
    color: black;
}

.editTaskSubmitButton label:hover {
    background-color: #008FFF;
    border: 2px solid #008FFF;
}

.editTaskSubmitButton label:hover::before {
    width: 100%;
    background-color: white;
}

.editTaskSubmitButton label:hover span {
    color: #008FFF;
}

.editTaskSubmitButton label:active {
    background-color: #008FFF;
    border: 2px solid #008FFF;
}

.editTaskSubmitButton label:active::before {
    width: 100%;
    background-color: white;
}

.editTaskSubmitButton label:active span {
    color: #008FFF;
}

.editTaskCancelButton {
    margin-left: 20px;
}

@media screen and (max-width : 499px) {
    .editTaskButton label {
        padding: 5px;
    }
    
    .editTaskFormMain label, .editTaskFormMain span, .editTaskFormMain p{
        font-size: 12px;
    }

    .editTaskButton {
        margin-top: 0;
    }

    .editTaskButton input {
        margin-right: 10px;
        padding: 6px;
        font-size: 14px;
        width: 70px;
    }
    
}

.editTaskButton input:nth-child(1):hover {
    background-color: #FBD288;
    color: black;
}

.editTaskButton input:nth-child(2):hover {
    background-color: white;
    color: black;
}