.rootContainer {
  max-width: 800px;
  width: 100%;
}

.infoContainer {
  padding: 20px 0px;
  display: grid;
  grid-template-columns: 50% 1fr;
  align-items: center;
}

/* @media screen and (max-width: 499px) {
  .infoContainer {
    padding: 20px 0px;
    display: grid;
    grid-template-columns: 120px 1fr;
    align-items: center;
  }
} */

.title {
  font-size: 18px;
}

.info {
  padding: 10px;
  color: red;
}

@media screen and (max-width: 499px) {
  .title {
    font-size: 16px;
  }

  .info {
    max-width: 180px;
    font-size: 14px;
  }

  .message {
    display: none;
  }
}

.inputsContainer {
  display: flex;
  flex-direction: column;
}

.profileInput {
  padding: 10px;
  width: 100%;
  font-size: 16px;
  outline: transparent;
  border: 1px solid black;
  margin-bottom: 10px;
}

@media screen and (max-width: 499px) {
  .profileInput {
    font-size: 14px;
    padding: 5px;
  }
}

.profileInput:focus {
  border: 2px solid orange;
}

.buttonsContainer {
  justify-self: flex-end;
  max-width: 300px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 200px;
  align-items: center;
}

.editButton {
  background-color: white;
  padding: 10px 20px;
  font-size: 14px;
  border: 1px solid black;
  transition-duration: 500ms;
  cursor: pointer;
  width: max-content;
  grid-column: 2 / 3;
  justify-self: flex-end;
}

.editButton:hover {
  background-color: black;
}

.editButton:hover p {
  color: white;
}

.submitButton {
  background-color: black;
  padding: 10px 20px;
  font-size: 14px;
  border: 1px solid black;
  transition-duration: 500ms;
  cursor: pointer;
  width: max-content;
  justify-self: flex-end;
}

.submitButton p {
  color: white;
}

.submitButton:hover {
  background-color: #7b2cbf;
  border-color: #7b2cbf;
}

.revealPassword {
  width: max-content;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  cursor: pointer;
}
