.rootContainer {
  max-width: 800px;
  width: 100%;
  padding: 20px 0px;
  display: grid;
  grid-template-columns: 50% 1fr;
  align-items: center;
}

.title {
  font-size: 18px;
}

@media screen and (max-width: 499px) {
  .message {
    display: none;
  }

  .title {
    font-size: 16px;
  }
}

.info {
  padding: 10px;
}

@media screen and (max-width: 499px) {
  .info {
    font-size: 14px;
    max-width: 150px;
  }
}
