.rootContainer {
  margin-top: 50px;
  border-top: 1px solid #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 850px) {
  .rootContainer {
    margin-top: 20px;
  }
}

.buttonContainer {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 0;
  background: transparent;
  padding: 15px;
  border-radius: 20px;
  margin-top: 10px;
}

@media screen and (max-width: 850px) {
  .buttonContainer {
    padding: 10px;
    margin-top: 0px;
  }
}

.buttonContainer:hover {
  background-color: #000;
}
