#filterForm {
    margin-left: 10px;
}

#filterForm label{
    font-size: 14px;
    margin-right: 10px;
}

@media screen and (max-width : 499px) {
    #filterForm label{
        font-size: 12px;
        margin-right: 0px;
    }  
}

@media screen and (max-width : 499px) {
    #filterForm h3{
        font-size: 16px;
    }  
}

@media screen and (max-width : 499px) {
    #filterForm h4{
        font-size: 12px;
    }  
}


/* ================================== STATUS FILTER ================================== */

#statusFilter input[type=checkbox] {
    height: 18px;
    width: 18px;
    margin-right: 2px;
    box-sizing: border-box;
}

@media screen and (max-width : 499px) {
    #statusFilter input[type=checkbox] {
        height: 15px;
        width: 15px;
    }
}


#statusFilter input[type=checkbox]:checked {
    accent-color: #0077b6;
    
}
#statusFilter {
    margin-top: 5px;
}

#statusFilter h4 {
    margin-bottom: -5px;
}

#statusList {
    display: flex;
    margin: 5px 0;
    flex-flow: row wrap;
    align-content: center;
}

@media screen and (max-width : 499px) {
    #statusList {
        width: 250px;
    }
}

#filterForm .statusBox {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

#filterButton {
    border: 1px solid #000;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    cursor: pointer;
    margin-right: 10px;
}

@media screen and (max-width : 499px) {
    #filterButton {
        width: 35px;
        height: 35px;
        justify-self: center;
    }
}

#filterButton img {
    width: 25px;
    height: 25px;
}