.rootContainer {
  max-width: 800px;
  width: 100%;
}

.infoContainer {
  padding: 20px 0px;
  display: grid;
  grid-template-columns: 50% 1fr;
  align-items: center;
}

/* @media screen and (max-width: 499px) {
  .infoContainer {
    grid-template-columns: 120px 1fr;
  }
} */

.title {
  font-size: 18px;
}

.info {
  border: 1px solid black;
  padding: 10px;
}

@media screen and (max-width: 499px) {
  .message {
    display: none;
  }

  .title {
    font-size: 16px;
  }

  .info {
    font-size: 14px;
    padding: 5px;
  }
}

.profileInput {
  padding: 10px;
  width: 100%;
  font-size: 16px;
  outline: transparent;
  border: 1px solid black;
}

@media screen and (max-width: 499px) {
  .profileInput {
    font-size: 14px;
    padding: 5px;
  }
}

.profileInput:focus {
  border: 2px solid orange;
}

.buttonsContainer {
  max-width: 800px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.editButton {
  background-color: white;
  padding: 10px 20px;
  font-size: 14px;
  border: 1px solid black;
  transition-duration: 500ms;
  cursor: pointer;
}

.editButton:hover {
  background-color: black;
}

.editButton:hover p {
  color: white;
}

.submitButton {
  background-color: black;
  padding: 10px 20px;
  font-size: 14px;
  border: 1px solid black;
  transition-duration: 500ms;
  cursor: pointer;
}

.submitButton p {
  color: white;
}

.submitButton:hover {
  background-color: #7b2cbf;
  border-color: #7b2cbf;
}
